@inject IConfiguration configuration

@{
    ViewData["Title"] = "Check Out";
    var customerOrderId = (int)ViewBag.CustomerOrderId;
}


<button id="checkoutButton" class="btn btn-primary">Checkout</button>

@section Scripts {
    <script src="https://js.stripe.com/v3/"></script>
    <script>

      document.getElementById('checkoutButton').addEventListener('click', function () {
        const orderId = @customerOrderId;
        const baseUrl = '@configuration["BaseUrl"]';

        fetch(`${baseUrl}/checkout/create-checkout-session?orderId=${orderId}`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.sessionId) {
                 const stripe = Stripe("@configuration["StripeKeys:Publishablekey"]");
                const sessionId = data.sessionId;
                stripe.redirectToCheckout({ sessionId });
            } else {
                alert('Failed to create checkout session');
            }
        })
        .catch(error => console.error('Error:', error));
    });

    </script>
}