@{
    ViewData["Title"] = "Success Payment";
}

<div class="success-container">
    <div class="success-message">
        <img src="~/Files/Images/success-paid.jpeg" alt="Success Icon" class="success-icon w-25">
        <h1>Payment Successful!</h1>
        <p>Thank you for your purchase. Your payment has been received successfully.</p>
        <p>Order ID: <span id="order-id"></span></p>
        <a href="/" class="home-button">Go to Home page</a>
    </div>
</div>